<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   
    <title>Conversations with Suzanna - Suzanna Stickney, Omaha psychic - World-Herald Live - Omaha World-Herald</title>

	<meta property="og:image" content="http://dataomaha.com/media/whlive/suzanna/website-topper-1600.jpg">
	<meta property="og:description" content="A show that will entertain, inspire and give you ideas on how to create the life you want and allow you to take a peek into your future.">
	<meta property="fb:app_id" content="117714391577072">
	
    <!-- Twitter Card - Large image // Docs: https://dev.twitter.com/cards/types/summary-large-image -->	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OWHnews">
	<meta name="twitter:creator" content="@OWHnews"><!-- change this to author's account, if applicable -->
	<meta name="twitter:title" content="Conversations with Suzanna - World-Herald Live">
	<meta name="twitter:image:src" content="http://dataomaha.com/media/whlive/suzanna/website-topper-1600.jpg">
	
    <!-- Bootstrap base layer -->
    <link href="http://dataomaha.com/media/scripts/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/whlive/suzanna/suzanna.css" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    
    
    <!-- NDN -->
    <script type="text/javascript" src="http://launch.newsinc.com/js/embed.js" id="_nw2e-js"></script>
    
    <!-- Font Awesome icons, v4.2 -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


	<!-- google analytics for dataomaha -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17420602-3']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!-- /google analytics -->
	
	<!-- BH Media Google Analytics  -->

		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			  ga('create', 'UA-43117949-3', 'omaha.com');
			  ga('send', 'pageview');
		</script>
		
	<!-- /BH Media Google Analytics -->
	

	<style type="text/css">
	</style>

	</head>

  <body data-spy="scroll" data-target=".navbar-scroller">


	<img src="/media/whlive/suzanna/website-topper-2.jpg" style="width: 100%;" />


	<div class="container" style="margin-bottom: 50px;">

		<div class="row" style="margin-top: 3em;">
			<p class="alert alert-info lead pink"><i class="fa fa-cloud-download w"></i>&emsp; Suzanna on your phone. <a href="https://itunes.apple.com/us/app/world-herald-live/id940765496?mt=8" target="_blank">Download the World-Herald Live app</a> for <a href="https://itunes.apple.com/us/app/world-herald-live/id940765496?mt=8" target="_blank">iTunes</a> and <a href="https://play.google.com/store/apps/details?id=com.airkast.tunekast1571_123" target="_blank">Android</a>&emsp;</p>
			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h2>Listen &mdash; Noon to 1 p.m., Wednesdays</h2>
				<iframe src="http://tunein.com/embed/station/218755/?size=small&partnerId=UNdhpgZp&autoplay=false" width="100%" height="180" style="border: none; overflow:hidden; background: #333;"></iframe>
				<p class="hidden-xs"><a href="http://omaha.com/tblstream" class="pull-right"><i class="fa fa-video-camera"></i>&emsp;Watch live video from the World-Herald Live studio &raquo;</a></p>
			</div>
			
			<div class="col-sm-5 col-sm-offset-1">
				<h2>Contact Suzanna</h2>
				<p class="lead"><i class="fa fa-phone p"></i>&emsp; Talk<span class="pull-right">402-255-2000</span></span></p>
				<p class="lead"><i class="fa fa-mobile-phone p"></i>&emsp; Text<span class="pull-right">402-403-3737</span></p>
				<p class="lead"><i class="fa fa-facebook p"></i>&emsp; Facebook<span class="pull-right"><a href="https://www.facebook.com/suzanna.stickney" target="_blank">facebook.com/suzanna.stickney</a></span></p> 
				<p class="lead"><i class="fa fa-twitter p"></i>&emsp; Twitter<span class="pull-right"><a href="http://twitter.com/mediapsychic" target="_blank">@MediaPsychic</a></span></p> 
		
				<h2>Show sponsors</h2>
				<a href="#" target="_blank"><img src="http://dataomaha.com/media/whlive/suzanna/suzanna-bhhs.jpg" class="ad pull-left" style="border: 1px solid #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" /></a>
				<a href="#" target="_blank"><img src="http://dataomaha.com/media/whlive/suzanna/suzanna-elliot-co.jpg" class="ad pull-left" style="border: 1px solid #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" /></a>



			</div>
		
		
		</div>
		

		<div class="row">
		<div id="bio" class="col-sm-6">	
			<h2>Segments and full episodes</h2>
			
			<p class="alert alert-info lead pink"><i class="fa fa-cloud-download w"></i>&emsp; For complete archive, subscribe the Suzanna podcast in <a href="https://itunes.apple.com/us/podcast/conversations-with-suzanna/id975709961?mt=2" target="_blank">iTunes</a> or via the <a href="http://dataomaha.com/whlive/suzanna/feed" target="_blank">full XML feed</a>&emsp;</p>
			
			<table class="table">
					<tbody>
				{% for segment in segments %}
					<tr>
						<td>{{ segment.title }}</td>
						<td><a href="{{ segment.guid }}">Download</a></td>
					</tr>
				{% endfor %}
				
					</tbody>
				</table>
			
			<br />
			
			
			
		</div>

		<div id="pic" class="col-sm-5 col-sm-offset-1 panel">
			
			<h2>About Suzanna</h2>
			<p class="lead">Suzanna, as a radio and television personality and newspaper columnist, utilizes her psychic abilities to pick up an individual's energy from all forms of correspondence to successfully project what the future holds for them.</p> 

			<p class="lead">She is an intensely spiritual woman who is a firm believer in God and feels that her strong faith is the basis of her psychic powers. She also believes that the ability to change the future comes with foreknowledge.</p>
			
			<h2>Tweets from Suzanna</h2>
			<a class="twitter-timeline" href="https://twitter.com/MEDIAPSYCHIC" data-widget-id="564678050470977537">Tweets by @MEDIAPSYCHIC</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


			<h2>Video segments</h2>
			<div class="ndn_embed" data-config-widget-id="30748" data-config-type="VideoLauncher/Slider300x250" data-config-tracking-group="91341"></div>

		</div>
		</div><!-- /row -->


		
<div class="row">
			<hr>
			<p class="alert alert-default lead"><i class="fa fa-cloud-download w"></i>&emsp; Also on World-Herald Live: <a href="http://omaha.com/bottomline" target="_blank">The Bottom Line with Mike'l Severe</a>, weekdays from 2-6 p.m.</p>
			<p style="text-align: center;"><img src="/media/whlive/wh-live-logo-white.jpg" style="width: 100px;" /></p>
		</div>

    </div><!-- /.container -->

	</body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://dataomaha.com/media/scripts/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  
  
	<!-- Chartbeat -->
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

		<script type="text/javascript">
			var _sf_async_config={};
			/** CONFIGURATION START **/
			_sf_async_config.uid = 52047;
			_sf_async_config.domain = 'omaha.com';
			_sf_async_config.useCanonical = true;
			_sf_async_config.sections = 'dataomaha'; 
			_sf_async_config.authors = 'Omaha.com';
			/** CONFIGURATION END **/
			(function(){
			  function loadChartbeat() {
				window._sf_endpt=(new Date()).getTime();
				var e = document.createElement('script');
				e.setAttribute('language', 'javascript');
				e.setAttribute('type', 'text/javascript');
				e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
				document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
				 loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>

	<!-- Chartbeat -->

		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/appmeasurement.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/visitorapi.js"></script>


		<script language="JavaScript" type="text/javascript"><!--
			s.pageName="Conversations with Suzanna - omaha.com/suzanna"
			s.server="dataomaha.com"
			s.channel="World-Herald Live / Suzanna"
			s.pageType="section"
			var s_code=s.t();if(s_code)document.write(s_code)//-->
		</script>   
	
  
  </html>