<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-itunes-app" content="app-id=853268441" />
	<meta name="description" content="Omaha's first internet-only sports, news and entertainment talk show. Weekdays from 2-6 p.m. on World-Herald Live." />
   
    <title>The Bottom Line with Mike'l Severe - Omaha's only daily internet radio sports, news and entertainment talk show - 2-6 p.m. weekdays on World-Herald Live</title>

	<meta property="og:image" content="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg">
	<meta property="og:description" content="Omaha's only daily internet radio sports, news and entertainment talk show - 2-6 p.m. weekdays on World-Herald Live.">
	<meta property="fb:app_id" content="117714391577072">
	
	
	<link rel="apple-touch-icon-precomposed" href="http://dataomaha.com/media/radio/logo2.png" />
	<link rel="icon" type="image/png" href="http://dataomaha.com/media/radio/logo2.png">	
	<script type="text/javascript" async src="http://launch.newsinc.com/js/embed.js" id="_nw2e-js"></script>

	
	
    <!-- Twitter Card - Large image // Docs: https://dev.twitter.com/cards/types/summary-large-image -->	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OWHbottomline">
	<meta name="twitter:creator" content="@MikelSevere">
	<meta name="twitter:title" content="The Bottom Line with Mike'l Severe - Weekdays, 2-6 p.m. on World-Herald Live">
	<meta name="twitter:image:src" content="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg">

	<!-- Typekit -->
		<script type="text/javascript" src="//use.typekit.net/kjy8htt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
    <!-- Bootstrap base layer -->
    <link href="http://dataomaha.com/media/scripts/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
 		<link rel="stylesheet" type="text/css" href="http://dataomaha.com/media/whlive/tbl/tbl-bootstrap.css" />
    
    <!-- Font Awesome icons, v4.2 -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<!-- BH Media Google Analytics  -->

		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			  ga('create', 'UA-43117949-3', 'omaha.com');
			  ga('send', 'pageview');
		</script>
		
	<!-- /BH Media Google Analytics -->
	

	</head>

  <body>

	<img src="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg" style="width: 100%;"/>

		<div class="row">
			<p class="alert alert-info lead yellow"><img src="http://dataomaha.com/media/radio/logo2.png" style="width: 30px;"> TBL on your phone. Download The Bottom Line app for <a href="https://itunes.apple.com/us/app/the-bottom-line-tblf/id853268441?mt=8" target="_blank">iTunes</a> and <a href="https://play.google.com/store/apps/details?id=com.airkast.TBLFFM" target="_blank">Android</a></p>
		</div>
	
	
	<div class="container">
		
		<div class="row">

			<div class="col-sm-6">
		
				<h2>Listen</h2>
				<iframe src="http://tunein.com/embed/station/218755/?size=small&partnerId=UNdhpgZp&autoplay=true" width="100%" height="180" style="border: none; overflow:hidden; background: #333;"></iframe>
				<p class="hidden-xs"><a href="http://omaha.com/tblstream" class="pull-right"><i class="fa fa-video-camera"></i>&emsp;Watch live video from the World-Herald Live studio &raquo;</a></p>
				
				<br><br>
				
				<h2>Guest list</h2>
					<p>{{ guests.text|safe|linebreaks }}</p>	
					
				
			</div>
			
			<div class="col-sm-5 col-sm-offset-1">
					
				
				<h2>Speak up</h2>
				<table class="table lead">
					<tr><td><i class="fa fa-phone p"></i>&emsp; Talk<span class="pull-right">402-444-1300</td></tr>
					<tr><td><i class="fa fa-mobile-phone p"></i>&emsp; Text<span class="pull-right">402-999-0623</span></p>
					<tr><td><i class="fa fa-envelope p"></i>&emsp; Email<span class="pull-right"><a href="mailto:bottomline@owh.com">bottomline@owh.com</a></td></tr>
					<tr><td><i class="fa fa-facebook p"></i>&emsp; Facebook<span class="pull-right"><a href="https://www.facebook.com/owhbottomline" target="_blank">facebook.com/owhbottomline</a></td></tr> 
					<tr><td><i class="fa fa-twitter p"></i>&emsp; Twitter<span class="pull-right"><a href="http://twitter.com/owhbottomline" target="_blank">@OWHbottomline</a></td></tr>
				</table>
				
				<h2>On air</h2>
				<p>You can hear The Bottom Line with Mike'l Severe on Big Apple News Radio, 1600 AM and 105.5 FM in the Nebraska City area and 107.7 in Omaha. In Fremont, listen on 1340 KHUB.</p>
				
				<h2>Show sponsors</h2>
				<a href="http://www.rockbrookcamera.com/" target="_blank"><img src="http://dataomaha.com/media/whlive/tbl/ads/rockbrook.png" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" /></a>
				<!-- <a href="http://bit.ly/1OfXFdY" target="_blank"><img src="http://dataomaha.com/media/whlive/tbl/ads/aksarben.jpg" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0; border: 1px solid #ccc;" /></a> -->
				<!-- <a href="http://www.turfcars.com/" target="_blank"><img src="http://dataomaha.com/media/whlive/tbl/ads/turf-cars.jpg" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0; border: 1px solid #ccc;" /></a>
				<a href="http://nebfamilychiro.com/" target="_blank"><img src="http://dataomaha.com/media/whlive/tbl/ads/nebfamchiro.png" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0; border: 1px solid #ccc;" /></a> -->
				<!-- <img src="#" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" />
				<img src="#" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" />
				<img src="#" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" />
				<img src="#" class="ad pull-left" style="background: #eee; width: 100px; height: 100px; margin: 1em 1em 1em 0;" /> -->
				
				
			</div>
			
						
			
		</div>

		
		<div class="row">
			
			<hr>

			
			
			<div class="col-sm-6">
			
				
                    
				<h2>Segments</h2>
									
					<div style="height: 600px; overflow-y: scroll;">
					{% for video in ls %}
					
						<div class="media">
						  <div style="min-height: 100px;" class="media-left pull-left">
						    <a href="{{ video.3 }}" target="_blank">
						      <img class="media-object" src="{{ video.2 }}" alt="{{ video.0 }}" style="max-width: 150px; padding-right: 15px;">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading"><b><a href="{{ video.3 }}" target="_blank">{{ video.0 }}</a></b></h4>
						    <p>{{ video.1 }}</p>
						  </div>
						</div>
					
					
					{% endfor %}
					</div>
			</div>
            
			<div class="col-sm-5 col-sm-offset-1">
				<h2>@OWHbottomline</h2>
				<a class="twitter-timeline" href="https://twitter.com/OWHBottomLine" data-widget-id="554870919056072704">Tweets by @OWHBottomLine</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			
			
		</div>
			
			

			
			
			<div class="row">
			
			<hr>

			
				<h2>Podcast: Episodes and interviews</h2>
				<p>New clips posted each day after the show.</p>
				<p class="alert yellow"><i class="fa fa-cloud-download"></i>For complete archive, subscribe to the TBL podcast on <a href="https://itunes.apple.com/us/podcast/the-bottom-line/id839583807?mt=2" target="_blank">iTunes</a> or via the <a href="http://owh.backbonebroadcast.com/owh_mp3/tbl_podcast.xml" target="_blank">full XML feed</a>.</p>
				
				
				<table class="table">
					<tbody>
						{% for segment in new_segments %}
							<tr>
								<td><b>{{ segment.title }}</b></td>
								<td>{{ segment.description }}</td>
								<td><a href="{{ segment.guid }}">Play/Download</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
				
				<hr>
			
			</div>
			
			<div class="row panel">
				<h2>About Mike'l Severe</h2>
					<p>Severe began his career as a New Orleans-based sports producer before anchoring a morning show in Monroe, La. Severe also worked as an education reporter with the ABC affiliate in Albuquerque, N.M., and won the New Mexico Broadcasters Award for Best Reporting. In 2002, Severe started in Omaha market as a KETV reporter before joining "Unsportsmanlike Conduct" two years later. In August 2012, Severe and co-host John Bishop were named to the list of "Top 30 Sports Talk Hosts in America" by trade magazine Radio INK.</p>

			</div>
			
			
			
			<div class="row footer">
				
				

				<h3 style="font-size: 1.5em;"><strong>The Bottom Line with Mike'l Severe</strong><br>2-6 weekdays on World-Herald Live.</h3>
					<p><em>Want to advertise on TBL? Call us at 402-444-1421.</em></p>
					<p><img src="http://dataomaha.com/media/radio/logo2.png" style="width: 50px;" />
			</div>
			
			
			
			
	
	</body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://dataomaha.com/media/scripts/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  
  
	<!-- Chartbeat -->
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

		<script type="text/javascript">
			var _sf_async_config={};
			/** CONFIGURATION START **/
			_sf_async_config.uid = 52047;
			_sf_async_config.domain = 'omaha.com';
			_sf_async_config.useCanonical = true;
			_sf_async_config.sections = 'dataomaha'; 
			_sf_async_config.authors = 'Omaha.com';
			/** CONFIGURATION END **/
			(function(){
			  function loadChartbeat() {
				window._sf_endpt=(new Date()).getTime();
				var e = document.createElement('script');
				e.setAttribute('language', 'javascript');
				e.setAttribute('type', 'text/javascript');
				e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
				document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
				 loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>

	<!-- Chartbeat -->
	
	<!-- Omniture -->
	
		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/appmeasurement.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/visitorapi.js"></script>


		<script language="JavaScript" type="text/javascript"><!--
			s.pageName="The Bottom Line with Mike'l Severe - omaha.com/bottomline"
			s.server="dataomaha.com"
			s.channel="Sports / World-Herald Live / The Bottom Line"
			s.pageType="section"
			var s_code=s.t();if(s_code)document.write(s_code)//-->
		</script>    
		
	

  
  </html>