<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-itunes-app" content="app-id=853268441" />
	<meta name="description" content="Omaha's first internet-only sports, news and entertainment talk show. Weekdays from 2-6 p.m. on World-Herald Live." />
   
    <title>The Bottom Line with Mike'l Severe - Omaha's only daily internet radio sports, news and entertainment talk show - 2-6 p.m. weekdays on World-Herald Live</title>

	<meta property="og:image" content="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg">
	<meta property="og:description" content="Omaha's only daily internet radio sports, news and entertainment talk show - 2-6 p.m. weekdays on World-Herald Live.">
	<meta property="fb:app_id" content="117714391577072">
	
	
	<link rel="apple-touch-icon-precomposed" href="http://dataomaha.com/media/radio/logo2.png" />
	<link rel="icon" type="image/png" href="http://dataomaha.com/media/radio/logo2.png">	
	<script type="text/javascript" async src="http://launch.newsinc.com/js/embed.js" id="_nw2e-js"></script>

	
	
    <!-- Twitter Card - Large image // Docs: https://dev.twitter.com/cards/types/summary-large-image -->	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OWHbottomline">
	<meta name="twitter:creator" content="@MikelSevere">
	<meta name="twitter:title" content="The Bottom Line with Mike'l Severe - Weekdays, 2-6 p.m. on World-Herald Live">
	<meta name="twitter:image:src" content="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg">

	<!-- Typekit -->
		<script type="text/javascript" src="//use.typekit.net/kjy8htt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
    <!-- Bootstrap base layer -->
    <link href="http://dataomaha.com/media/scripts/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
 		<link rel="stylesheet" type="text/css" href="http://dataomaha.com/media/whlive/tbl/tbl-bootstrap.css" />
    
    <!-- Font Awesome icons, v4.2 -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<!-- BH Media Google Analytics  -->

		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			  ga('create', 'UA-43117949-3', 'omaha.com');
			  ga('send', 'pageview');
		</script>
		
	<!-- /BH Media Google Analytics -->
	

	</head>

  <body>

	<img src="http://dataomaha.com/media/whlive/tbl/tbl-topper-1600.jpg" style="width: 100%;"/>

		<div class="row">
			<p class="alert alert-info lead yellow"><img src="http://dataomaha.com/media/radio/logo2.png" style="width: 30px;"> TBL on your phone. Download The Bottom Line app for <a href="https://itunes.apple.com/us/app/the-bottom-line-tblf/id853268441?mt=8" target="_blank">iTunes</a> and <a href="https://play.google.com/store/apps/details?id=com.airkast.TBLFFM" target="_blank">Android</a></p>
		</div>
	
	
	<div class="container">
		
		<div class="row">
		
		<div class="col-sm-12">

			<iframe width="100%" height="675" scrolling="no" frameborder="no" src="http://video.omaha.com/video/streaming/mediaplayer/live.html?width=100%25&aspectratio=16%3A9&autostart=true&file=rtmp%3A%2F%2F63.224.174.178%2FTBL%2F5681955a966eb">If you cannot see the live video on your device, visit <a href="http://omaha.com/TBLstream">omaha.com/TBLstream</a>.</iframe>
		
		</div>
		</div>
		
		<div class="row">
		
		<div class="col-sm-12 small">
					
				
				<h2>Speak up</h2>
				<table class="table lead">
					<tr><td><i class="fa fa-phone p"></i>&emsp; Talk<span class="pull-right">402-444-1300</td></tr>
					<tr><td><i class="fa fa-mobile-phone p"></i>&emsp; Text<span class="pull-right">402-999-0623</span></p>
					<tr><td><i class="fa fa-envelope p"></i>&emsp; Email<span class="pull-right"><a href="mailto:bottomline@owh.com">bottomline@owh.com</a></td></tr>
					<tr><td><i class="fa fa-facebook p"></i>&emsp; Facebook<span class="pull-right"><a href="https://www.facebook.com/owhbottomline" target="_blank">facebook.com/owhbottomline</a></td></tr> 
					<tr><td><i class="fa fa-twitter p"></i>&emsp; Twitter<span class="pull-right"><a href="http://twitter.com/owhbottomline" target="_blank">@OWHbottomline</a></td></tr>
				</table>
				
				
			</div>
			</div>
		
		
		</div>
	</div>
</body>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://dataomaha.com/media/scripts/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  
  
	<!-- Chartbeat -->
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

		<script type="text/javascript">
			var _sf_async_config={};
			/** CONFIGURATION START **/
			_sf_async_config.uid = 52047;
			_sf_async_config.domain = 'omaha.com';
			_sf_async_config.useCanonical = true;
			_sf_async_config.sections = 'dataomaha'; 
			_sf_async_config.authors = 'Omaha.com';
			/** CONFIGURATION END **/
			(function(){
			  function loadChartbeat() {
				window._sf_endpt=(new Date()).getTime();
				var e = document.createElement('script');
				e.setAttribute('language', 'javascript');
				e.setAttribute('type', 'text/javascript');
				e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
				document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
				 loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>

	<!-- Chartbeat -->
	
	<!-- Omniture -->
	
		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/appmeasurement.js"></script>
		<script language="JavaScript" type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/live/global/resources/scripts/omniture/visitorapi.js"></script>


		<script language="JavaScript" type="text/javascript"><!--
			s.pageName="The Bottom Line with Mike'l Severe - omaha.com/bottomline"
			s.server="dataomaha.com"
			s.channel="Sports / World-Herald Live / The Bottom Line"
			s.pageType="section"
			var s_code=s.t();if(s_code)document.write(s_code)//-->
		</script>    
		
	

  
  </html>

